.todo-item {
  margin: 10px 0;
  position: relative;
  min-height: 64px;
  overflow: hidden;
  background-color: #333;
  color: #fff;
  display: flex;
  justify-content: center;
  transition: background-color 0.5s ease-out;
}
.todo-item--complete {
  background-color: #666;
}
.todo-item--focus {
  background-color: #ccc;
}
.todo-item:focus {
  outline: none;
}

.todo-item__content {
  position: relative;
  max-width: 640px;
  display: flex;
  align-items: center;
  flex-grow: 1;
  background-color: rgba(0, 0, 0, 0.25);
  transition: background-color 0.5s ease-out  ;
  margin: 0 10px;
}
.todo-item__content--focus {
  background-color: rgba(255, 255, 255, 1.0);
}

.todo-item__child {
  height: 64px;
}

.todo-item__complete {
  position: relative;
  margin: 0;
  padding: 0;
  width: 64px;
  /* border: 1px dotted red; */
}
.todo-item__complete-checkbox {
  position: relative;
  width: 100%;
  height: 100%;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}
.todo-item__complete-checkbox-hit {
  width: 24px;
  height: 24px;
  border: 2px solid #fff;
  border-radius: 12px;
}
.todo-item__complete-checkbox-hit--complete {
  border-color: #ccc;
}
.todo-item__complete-checkbox-hit--focus {
  border-color: #000;
}
.todo-item__complete-checkbox-hit-check {
  width: 16px;
  height: 16px;
  border-radius: 8px;
  margin: 2px;
  background-color: transparent;
}
.todo-item__complete-checkbox-hit-check--complete {
  background-color: #ccc;
}
.todo-item__complete-checkbox-hit-check--focus {
  background-color: #000;
}
.todo-item__complete-input {
  width: 100%;
  height: 100%;
  opacity: 0;
  position: absolute;
  left: 0;
  top: 0;
}

.todo-item__text {
  flex-grow: 1;
  margin: 0;
  display: inline-flex;
  align-items: center;
  margin: 0;
  padding: 0;
  border-width: 0;
  background-color: transparent;
  font-size: 16px;
  color: #fff;
}
.todo-item__text--complete {
  color: #ccc;
}
.todo-item__text--focus {
  color: #000;
}
.todo-item__text--just-added {
  font-style: italic;
}
.todo-item__text:focus {
  outline: none;
}

.todo-item__delete {
  border-width: 0;
  background-color: transparent;
  cursor: pointer;
  margin-right: 10px;
}

.todo-item__delete-cancel,
.todo-item__delete-confirm {
  flex-grow: 1;
  font-size: 1rem;
  border-width: 0;
}
.todo-item__delete-cancel:focus,
.todo-item__delete-confirm:focus {
  outline: none;
}
.todo-item__delete-cancel {
  background-color: #eee;
}
.todo-item__delete-confirm {
  background-color: #fff;
}