.todo-check {
  position: relative;
  float: left;
  width: 64px;
  height: 64px;
  background-color: #eee;
  color: #fff;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  margin: -10px 10px 6px -10px;
  border-width: 0 1px 1px 0;
  border-style: solid;
  border-color: black;
}

.todo-check:focus-within {
  background-color: #111;
  color: #333;
}
.todo-check--checked {
  color: #000;
}
.todo-check--checked:focus-within {
  color: #222;
  color: #fff;
}

.todo-check__mark {
  font-size: 48px;
  font-weight: 900;
  user-select: none;
}

.todo-check__input {
  position: absolute;
  top: 0;
  left: 0;
  width: 64px;
  height: 64px;
  opacity: 0;
  cursor: pointer;
}
