.status-bar {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  color: white;
  text-align: left;
}

.status-bar__text {
  margin: 0;
  padding: 0;
  transition: padding 0.3s ease-out;
}
.status-bar__text--active {
  padding: 10px;
}

.status-bar__error {
  background-color: #991100;
}

.status-bar__info {
  background-color: black;
}